*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}


/*	Start of Log in page search */
.loginPage{
/*	background-color: #8A734B;*/
	height: 100vh;
	width: 100vw;
}

.loginPage >.welcomeTop {
	height: 14.5vh;
	width: 100vw;
	background-color: #8A734B;
/*	background-color: #989898;*/
}

.loginPage >.welcomeTop {
	position: relative;
	display: flex;
}

.loginPage >.welcomeTop > div {
	width: 32.5vw;
}
.loginPage >.welcomeTop > div > h1{
	position: absolute;
	font-size: 13vh;
	color: #8A734B;
	z-index: 10;
}

/*#cohort{
	position: absolute;
	color: #1D2E43;
	font-size: 8vh;
	margin-left: 3vh;
	border: solid;
	top: 2vh;

}*/

#cohort{
	position: absolute;
	color: #1D2E43;
	font-size: 8vh;
	margin-left: 3vh;
	border: solid;
	top: 2vh;
	overflow: hidden;
	width: 10vw;
}
#coho{
	position: absolute;
	/*color: #8A734B;*/
	color: gray;
	font-size: 8vh;
	margin-left: 3vh;
	border: solid;
	top: 2vh;
	left: 0;
}

/*.loginPage >.welcomeTop > div > h2{
	color: #1D2E43;
	color: whitesmoke;
}*/
.loginPage >.welcomeTop > img{
	position: absolute;
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
	top: 2vh;
	right: 20vw;
}
.loginPage >.welcomeTop > .btnLog {
	position: absolute;
	height: 10vh;
	width: 10vh;
	top: 2vh;
	right: 10vw;
	border-radius: 25%;
	border: solid;
	background-color: #565C62;
	 display: flex;
	 flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.loginPage >.welcomeTop > .btnLog > div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 3px 0;
}


.loginPage >.welcomeBottom > .searchBar{
	position: absolute;
	top: 20vh;
	left: 35vw;
}
.loginPage >.welcomeBottom > .searchBar >input, .btn-search{
	height: 4vh;
	border-radius: 3px;
	border: 2px solid #1D2E43;
}
.loginPage >.welcomeBottom > .searchBar >input{
	width: 20vw;
}

.loginPage >.welcomeBottom > .searchBar > .btn-search{
	width: 10vw;
}

.loginPage >.welcomeBottom > .searchInfo{
	position: relative;
	border: 5px solid #1D2E43;
	height: 60vh;
	width: 80vw;
	margin-top: 15vh;
	margin-left: 10vw;
	display: flex;
}

.loginPage >.welcomeBottom > .searchInfo > .googleMap{
	width: 28vw;
}
.loginPage >.welcomeBottom > .searchInfo > .googleMap > .zuittMap {
	height: 58.5vh;
	width: 28.8vw;
	border: solid;
}

.loginPage >.welcomeBottom > .searchInfo > .searchPartner{
	border-left: 2px solid #1D2E43;
	width: 52vw;
	background-color: whitesmoke;
}

		/*	Start of main-Images CSS*/
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner{
			position: relative;
		}


		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > #img{
			position: absolute;
			border: solid #565C62;
		

		}

		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > #img:hover{
			transition: scale(1:5);
			border: 1px solid;
		}

		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img1{
			height: 12vh;
			width: 7vw;
			top: 3vh; 
			left: 1vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img2{
			height: 13vh;
			width: 8vw;
			top: 3vh; 
			left: 11vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img3{
			height: 13vh;
			width: 8vw;
			top: 3vh; 
			left: 21vw;
		}

		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img4{
	height: 11vh;
			width: 9vw;
			top: 3vh; 
			left: 31vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img5{
	height: 11vh;
			width: 9vw;
			top: 3vh; 
			left: 41vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img6{
	height: 11vh;
			width: 9vw;
			top: 17vh; 
			left: 41vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img7{
	height: 11vh;
			width: 9vw;
			top: 15vh; 
			left: 26vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img8{
	height: 11vh;
			width: 9vw;
			top: 15vh; 
			left: 18vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img9{
	height: 11vh;
			width: 9vw;
			top: 15vh; 
			left: 10vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img10{
	height: 11vh;
			width: 9vw;
			top: 15vh; 
			left: 2vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img11{
	height: 11vh;
			width: 9vw;
			top: 27vh; 
			left: 2vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img12{
	height: 11vh;
			width: 9vw;
			top: 27vh; 
			left: 10vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img13{
	height: 11vh;
			width: 9vw;
			top: 27vh; 
			left: 18vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img14{
	height: 11vh;
			width: 9vw;
			top: 27vh; 
			left: 26vw;
		}
		/*	End of main-Images CSS*/






/*	End of log in page search*/


/*	Start of Responsiveness*/

	/* start of Iphone6/7/8 responsiveness*/
		/*	vertical-align: */

		@media only screen and (max-width: 415px) {
			.loginPage >.welcomeTop {
			height: 7vh;
			width: 100vw;
			}

			#cohort{
				font-size: 6vh;
				width: 29vw;
				top: 3.5vh
			}
			#coho{
				font-size: 6vh;
				top: 3.5vh
			}

			.loginPage >.welcomeTop > img{
			height: 5vh;
			width: 5vh;
			top: 1vh;
			}


			.loginPage >.welcomeTop > .btnLog {
	
			height: 5vh;
			width: 5vh;
			top: 1vh;
			right: 6vw;
			border-radius: 25%;
			border: none;
			/*background-color: #565C62;*/
			background-color: lightgray;
			}

			.loginPage >.welcomeTop > .btnLog > div {
  			width: 20px;
  			height: 2px;
 			background-color: black;
  			margin: 3px 0;
			}

			.loginPage >.welcomeBottom > .searchBar{
			position: absolute;
			top: 15vh;
			left: 10vw;
			}
			.loginPage >.welcomeBottom > .searchBar >input, .btn-search{
			height: 4vh;
			border-radius: 3px;
			border: 2px solid #1D2E43;
			}
			.loginPage >.welcomeBottom > .searchBar >input{
			width: 50vw;
			}
			.loginPage >.welcomeBottom > .searchBar >.btn-search{
			width: 30vw;
			}

			.loginPage >.welcomeBottom > .searchInfo{
			position: relative;
			border: 5px solid #1D2E43;
			height: 73vh;
			width: 80vw;
			margin-top: 15vh;
			margin-left: 10vw;
			display: flex;
			flex-direction: column;
			justify-content: center;
			/*overflow-y: scroll;*/
			}

			.loginPage >.welcomeBottom > .searchInfo > .googleMap{
			width: 50vw;
			}
			.loginPage >.welcomeBottom > .searchInfo > .googleMap > .zuittMap {
			height: 20vh;
			width: 77.5vw;
			top: 0;
			position: absolute;
			}

			.loginPage >.welcomeBottom > .searchInfo > .searchPartner{
			border-top: 3px solid #1D2E43;
			width: 78vw;
			background-color: whitesmoke;
			position: relative;
			top: 10vh;
			height: 52vh;
			left: -.5vw;
			overflow-y: scroll;
			}

			/*	Start of main-Images CSS*/
			.loginPage >.welcomeBottom > .searchInfo > .searchPartner{
			overflow-y: scroll;
			}
			.loginPage >.welcomeBottom > .searchInfo > .searchPartner > #img{
			border: solid /*#565C62*/;
			}

		/*	.loginPage >.welcomeBottom > .searchInfo > .searchPartner > #img:hover{
			transition: scale(1:5);
			border: 1px solid;
			}
*/
			.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img1{
			height: 8vh;
			width: 12vw;
			top: 31vh; 
			left: 41vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img2{
			height: 10vh;
			width: 12vw;
			top: 21vh; 
			left: 56vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img3{
			height: 8vh;
			width: 10vw;
			top: 31vh; 
			left: 25vw;
		}

		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img4{
			height: 4vh;
			width: 20vw;
			top: 24vh; 
			left: 27vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img5{
			height: 4vh;
			width: 18vw;
			top: 27vh; 
			left: 3vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img6{
			height: 6vh;
			width: 14vw;
			top: 19vh; 
			left: 3vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img7{
			height: 8vh;
			width: 12vw;
			top: 14vh; 
			left: 23vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img8{
			height: 10vh;
			width: 12vw;
			top: 12vh; 
			left: 40vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img9{
			height: 6vh;
			width: 16vw;
			top: 12vh; 
			left: 57vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img10{
			height: 6vh;
			width: 14vw;
			top: 3vh; 
			left: 58vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img11{
			height: 6vh;
			width: 12vw;
			top: 3vh; 
			left: 41vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img12{
			height: 8vh;
			width: 12vw;
			top: 3vh; 
			left: 24vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img13{
			height: 6vh;
			width: 14vw;
			top: 11vh; 
			left: 3vw;
		}
		.loginPage >.welcomeBottom > .searchInfo > .searchPartner > .img14{
			height: 6vh;
			width: 12vw;
			top: 3vh; 
			left: 5vw;
		}
		/*	End of main-Images CSS*/





	}
		



	


	/* End of Iphone6/7/8 responsiveness*/
		/*	vertical-align: */