*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}


/*	Start of BTN CSS*/
#btn{
	font-size: 0;
	border-radius: 10vh;
	background-color: #8A734B;
	border: 2px solid #1D2E43;
	height: 6vh;
	width: 12vw;
	text-decoration: none;
}
#btn > a > span{
	font-size: 4vh;
	color: #1D2E43;
}

#btn:hover{
	background-color: #1D2E43;
}
#btn:hover > a > span{
	color: #8A734B;
}


.navBtn{
	position: sticky;
	z-index: 5;
	top: 2vh;
	left: 2vw;
}

		/*	Start of Animation for BTN Subscribe*/

		.btn-mainpage > a > #animate{
			animation-duration: 4s;
			animation-iteration-count: infinite;
			transition: .2;
			}
		.btn-mainpage > a > .s {
			animation-name: texts;
			}
			@keyframes texts {
			0%{
			text-transform: uppercase;
			}
			}
		.btn-mainpage > a >.u {
			animation-name: textu;
			}
			@keyframes textu {
			11.11%{
				text-transform: uppercase;
			}
			}
		.btn-mainpage > a > .b {
			animation-name: textb;
			}
			@keyframes textb {
			22.22%{
				text-transform: uppercase;
			}
			}
		.btn-mainpage > a > .ss {
			animation-name: textss;
			}
			@keyframes textss {
			33.33%{
				text-transform: uppercase;
			}
			}
		.btn-mainpage > a > .c {
			animation-name: textc;
			}
			@keyframes textc {
			44.44%{
				text-transform: uppercase;
			}
			}
		.btn-mainpage > a > .r {
			animation-name: textr;
			}
			@keyframes textr {
			55.55%{
				text-transform: uppercase;
			}
			}
		.btn-mainpage > a > .i {
			animation-name: texti;
			}
			@keyframes texti {
			66.66%{
				text-transform: uppercase;
			}
			}
		.btn-mainpage > a > .bb {
			animation-name: textb;
			}
			@keyframes textb {
			77.77%{
				text-transform: uppercase;
			}
			}
		.btn-mainpage > a > .e {
			animation-name: texte;
			}
			@keyframes texte {
			88.88%{
				text-transform: uppercase;
			}
			}

	/*	End of Animation for BTN Subscribe*/


.navBtn > .btn-mainpage{
	position: absolute;
	left: 85vw;
	top: 12vh;
}
.navBtn > .btn-mainpage > a{
	text-decoration: none;
	color: #1D2E43;
}
/* 	end of btn css*/

/*	Start of Main page CSS*/

.mainPage{
	position: relative;
	height: 100vh;
	width: 98vw;
	display: flex;
	position: relative;
	border-top: -2vh;
	border-left: -2vw;
	z-index: 1;

}



.mainPage >  .mainLeft{
	background-color: #1D2E43;
	height: 100vh;
	width: 20vw;
	border-right: solid #8A734B;
}
.mainPage > .mainLeft > div {
	width: 32.5vw;
}

#cohort{
	position: absolute;
	color: #8A734B;
	font-size: 15vh;
	margin-left: 3vh;
	border: solid;
	top: 2vh;
	top: 2vh;
	overflow: hidden;
	width: 18.5vw;
	z-index: 10;
	border-right: none;
}

#coho{
	position: absolute;
	/*color: #8A734B;*/
	color: #1D2E43;
	font-size: 15vh;
	margin-left: 3vh;
	border: solid;
	top: 2vh;
	left: 0;
}

	/*	Start of main-Images CSS*/
	.mainPage >.mainRight{
		position: relative;
		height: 60vh;
		width: 60vw;
		left: 10vw;
		top: 20vh;
	}


	.mainPage >.mainRight > #img{
		position: absolute;
		border: solid #565C62;
	}

	.mainPage >.mainRight > #img:hover{
		transition: scale(1:5);
		border: 1px solid;
	}

	.mainPage >.mainRight > .img1{
		height: 10vh;
		width: 10vw;
		top: 30vh; 
		left: 50vw;
	}
	.mainPage >.mainRight > .img2{
		height: 10vh;
		width: 10vw;
		top: 15vh; 
		left: 50vw;
	}
	.mainPage >.mainRight > .img3{
		height: 15vh;
		width: 10vw;
		top: 44vh; 
		left: 43vw;
	}

	.mainPage >.mainRight >.img4{
		height: 10vh;
		width: 10vw;
		top: 0vh; 
		left: 43vw;
	}
	.mainPage >.mainRight > .img5{
		height: 10vh;
		width: 10vw;
		top: 0vh; 
		left: 6vw;
	}
	.mainPage >.mainRight > .img6{
		height: 10vh;
		width: 10vw;
		top: 15vh; 
		left: 0vw;
	}
	.mainPage >.mainRight > .img7{
		height: 10vh;
		width: 10vw;
		top: 30vh; 
		left: 0vw;
	}
	.mainPage >.mainRight > .img8{
		height: 15vh;
		width: 10vw;
		top: 44vh; 
		left: 6vw;
	}

	.mainPage >.mainRight > .img9{
		height: 10vh;
		width: 10vw;
		top: 15vh; 
		left: 16vw;
	}

	.mainPage >.mainRight > .img10{
		height: 10vh;
		width: 10vw;
		top: 15vh; 
		left: 33vw;
	}
	.mainPage >.mainRight > .img11{
		height: 10vh;
		width: 10vw;
		top: 30vh; 
		left: 16vw;
	}
	.mainPage >.mainRight > .img12{
		height: 10vh;
		width: 15vw;
		top: 0vh; 
		left: 22vw;
	}
	.mainPage >.mainRight > .img13{
		height: 10vh;
		width: 15vw;
		top: 45vh; 
		left: 22vw;
	}
	.mainPage >.mainRight > .img14{
		height: 10vh;
		width: 10vw;
		top: 30vh; 
		left: 33vw;
	}
	
	/*	End of main-Images CSS*/

/*	Start of Partners CSS*/
	
.mainPage > .mainLeft > .partners{
	height: 30vh;
	width: 25vw;
	margin: 15vw 0 0 4vw;
}

.mainPage > .mainLeft > .partners > h2{
	font-size: 4vh;
	color: darkgray;
	margin: 4vh 0 2vh 0;
}

.mainPage > .mainLeft > .partners > h2 > a{
	text-decoration: none;
	font-size: 4vh;
	color: darkgray;
	margin: 4vh 0 4vh 0;
}

.mainPage > .mainLeft > .partners > .category-ul{
	position: absolute;
	border: 1px solid #1D2E43;
	top: 50vh;
	left: 13vw;
	list-style: none;
	height: 22vh;
	background-color: #8A734B;
	border-radius: 10px;
}


.mainPage > .mainLeft > .partners > .category-ul > li{
	margin: 2vh;
}
.mainPage > .mainLeft > .partners > .category-ul > li > a{
	text-decoration: none;
	color: #1D2E43;
	font-size: 4vh;
	border-radius: 5px;
}
#partners > #category > a:hover, #services > a:hover, #about > a:hover{
	background-color: #8A734B;
	color: #1D2E43;
	border-radius: 5px;
}
#category-ul{
	visibility: visible;
}
#partners > #category > a:hover, {

}



/*#partners > h2:hover{
	border-color: red;
}*/

/*#category-ul{
	visibility: visible;
}*/

/*#category:hover > #category-ul, #category > #category-ul:hover{
	visibility: visible;
}*/

.mainPage > .mainLeft > .partners > .category-ul > li > a:hover{
	background-color: #1D2E43;
	color: #8A734B;

}
#mission{
	font-weight: 500;
	font-size: 3vh;
}

.mainPage > .mainLeft > .mission {
	color: #8A734B;
	list-style: none;
	margin: 20vh 0 0 3vw; 
}



/*	End of Partners CSS*/

/*	End of Main Page CSS*/

/*	Start of sectionInfo*/

.sectionInfo{
	height: 100vh;
	width: 98.8vw;
	background-color: white;
	position: relative;
	border-top: -2vh;
	border-left: -2vw;

}


.sectionInfo > .heading{
	height: 22vh;
	width: 98.vw;
	top: 2vh;
	background-color: #8A734B;
	border-left: -2vw;
	border-bottom: 2px solid #1D2E43;
}

.sectionInfo > .heading > .mission{
	list-style-type: none;
	position: absolute;
	color: #1D2E43;
	left: 80vw;
	top: 6vh;
}
.sectionInfo > .heading > .mission > li{
	font-weight: 600;
}

.sectionInfo > .heading > div > #cohort,#coho{
	border-color: #1D2E43;
}
.sectionInfo > .heading > div > #cohort{
	color: #1D2E43;
	background-color: #8A734B;
	border-right: 2px solid #1D2E43;
	z-index: 3;
}
.sectionInfo > .heading > div > #coho{
/*	background-color: white;*/
	color: #565C62;
	z-index: 1;
}



.sectionInfo > .categoryList{
	border: solid #1D2E43;
	display: flex;
	align-items: center;
	width: 76vw;
	margin-left: 12vw;
	margin-top: 10vh;
	background-color: #8A734B;
	border-bottom: none;
}
.sectionInfo > .categoryList > h2,h3,h4{
	font-size: 5vh;
	color: #1D2E43;
}

.sectionInfo > .categoryList > h2{
	margin-left: 3vw;
}
.sectionInfo > .categoryList > h3{
	margin-left: 15vw;
}
.sectionInfo > .categoryList > h4{
	margin-left: 20vw;
}





.sectionInfo > .listInfo{
	height: 25vh;
	width: 76vw;
	margin-top: 0vh;
	margin-left: 12vw;
	display: flex;
	align-items: center;

}


.sectionInfo > .listInfo > .platinumInfo, .goldInfo, .silverInfo{
	border: solid #1D2E43;
	height: 25vh;
	width: 26vw;
	background-color: lightgray;
}




.sectionInfo > .listInfo > .platinumInfo > ul, .goldInfo > ul,  .silverInfo > ul{
	margin-left: 4vw;
	margin-top: 5vh;
	font-size: 2.5vh;
}


.sectionInfo > .sectionImages{
	position: relative;
	height: 20vh;
	width: 76vw;
	border: solid #273647;
	margin-left: 12vw;
	margin-top: 5vh;
}

.sectionInfo > .sectionImages > #img{
	height: 8vh;
	width: 8vw;
}


/*	Start of subscribe Page CSS*/
.subscribePage{
 	position: relative;
	height: 100vh;
	width: 98.7vw;
	z-index: 10;
	background-color: #1D2E43;
	border-top: -2vh;
	border-left: -2vw;

}

.subscribePage > .subscribe-form{
	height: 100vh;
	width: 78.8vw;
	margin-left: 20vw;
	background-color: lightgray;
}


.subscribePage > .subscribe-form > .form{
	position: absolute;
	background-color: #8A734B;
	margin-top: 25vh;
	height: 55vh;
	margin-left: -10vw;
	width: 80vw;
	direction: flex;
	z-index: 5;
	visibility: visible;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subscribePage > .subscribe-form > .form > input{
	border: 2px solid #1D2E43;
	width: 30vw;
	height: 5vh;
	margin-top: 3vh;
	margin-left: 25vw;
}
.subscribePage > .subscribe-form > .form > select{
	margin-top: 3vh;
	margin-left: 25vw;
	border: 2px solid #1D2E43;
	height: 5vh;
	width: 15vw;
}
.subscribePage > .subscribe-form > .form > #btn{
	position: absolute;
	left: 35vw;
	top: 43vh;
}

.subscribePage > .subscribe-form > .form > #btn > a{
	text-decoration: none;
	color: #1D2E43;
}

.subscribePage > .mission{
	position: absolute;
	top: 85vh;
	color: #8A734B;
	left: 3vw;
	list-style-type: none;
}

.subscribePage > .subscribe-form > .form > #btn:hover > a{
	color: #8A734B;
}
	/*	Start of Animation for BTN Subscribe*/

		.subscribeForm-btn > a > #animate{
			animation-duration: 4s;
			animation-iteration-count: infinite;
			transition: .2;
			}
		.subscribeForm-btn  > a > .c {
			animation-name: textc;
			}
			@keyframes textc {
			0%{
			text-transform: uppercase;
			}
			}
		.subscribeForm-btn > a > .o {
			animation-name: texto;
			}
			@keyframes texto {
			12.5%{
				text-transform: uppercase;
			}
			}
		.subscribeForm-btn > a > .n {
			animation-name: texto;
			}
			@keyframes texto {
			25%{
				text-transform: uppercase;
			}
			}
		.subscribeForm-btn > a > .f {
			animation-name: textnn;
			}
			@keyframes textnn {
			37.5%{
				text-transform: uppercase;
			}
			}
		.subscribeForm-btn > a > .i {
			animation-name: texty;
			}
			@keyframes texty {
			50%{
				text-transform: uppercase;
			}
			}
		.subscribeForm-btn > a > .r {
			animation-name: textm;
			}
			@keyframes textm {
			62.5%{
				text-transform: uppercase;
			}
			}
		.subscribeForm-btn > a > .m {
			animation-name: textoo;
			}
			@keyframes textoo {
			75%{
				text-transform: uppercase;
			}
			}

	/*	End of Animation for BTN Subscribe*/


/*	Start of subscribe Page CSS*/


/*	End of sectionInfo*/





/*		Start of responsiveness*/

					/*Iphone vertical*/
		@media only screen and (max-width: 415px) {


			/*	Start of Main PAGE section*/

			#btn{
				left: 60vw;
				width: 35vw;
				top: 15vh;
			}
			#btn > a > span{
				font-size: 3vh;
			}
			.mainPage{
				height: 100vh;
			}


			.mainPage > .mainLeft {
				width: 35vw;
				height: 100vh;
			}

			#cohort ,#coho{
				font-size: 9vh;
				height: 12vh;
				margin-left: 6vh;
			}

			
			.mainPage > .mainLeft > div #cohort{
				width: 42vw;
				border-right: solid;
			}

			#partners{
				margin-top: 30vh;
			}
			#partners > h2 > a{
				font-size: 3vh;
			}


			#mission{
				margin-top: 30vh;
			}

			#mission > li{
				font-size: 1.8vh;

			}

			#category-ul{
				top: 52vh;
				left: 8vw;
				height: 15vh;
			}
			#category-ul  > li > a{
				font-size: 3vh;
			}

			#category-ul  > li{
				margin: 1vh;
			}

			.mainPage > .mainRight {
				left: 2vw;
				top: 30vh;
				height: 70vh;
			}


			/*	End of Main PAGE */

			/*	Start of sectionInfo 	*/

			.sectionInfo > .heading > div > #cohort ,#coho{
				font-size: 9vh;
				height: 12vh;
			}
			.sectionInfo > .heading > div > #cohort{
				width: 43vw;
			}

			.sectionInfo > .heading{
				height: 16vh;
			}

			.sectionInfo > .heading > #mission {
				font-size: 2vh;
				top: 18vh;
				left: 5vh;
				margin-top: 0;
			}

			.sectionInfo > .categoryList{
			/*	direction: flex;
				flex-direction: column;*/
				width: 10vw;
				height: 90vw;
				writing-mode: vertical-rl;
				text-orientation: upright;
				margin-left: 2vw;
				border-bottom: solid #1D2E43;

			}

			.sectionInfo > .categoryList > h2,h3,h4{
				font-size: 2vh;
				margin: 1vh;
			}
			.sectionInfo > .categoryList > h3{
				margin:3vh 0 0 0;
			}
			.sectionInfo > .categoryList > h4{
				margin:5vh 0 0 0;
			}


			.sectionInfo > .listInfo {
				position: absolute;
				direction: flex;
				flex-direction: column;
				top: 26vh;
				left: 4vw;
				height: 50.6vh;

			}

			.sectionInfo > .listInfo > div > ul{
				margin-top: 3vh;
			}
			.sectionInfo > .listInfo > div > ul > li{
				font-size: 2vh;
				margin-left: 6vw;
				margin-top: ;
			}

			.sectionInfo > .listInfo > .platinumInfo, .goldInfo,.silverInfo{
				width: 48vh;
				height: 30vh;
			}

			.sectionInfo > .listInfo > .platinumInfo{
				height: 40vh;
			}

			.sectionInfo > .sectionImages{
				height: 18vh;
				margin-top: 3vh;
				margin-left: 5vw;
				width: 90vw;
			}

			/*	End of sectionInfo		*/

			/* 	Start of subscribe Page*/


			.subscribePage > .subHeading > div > #cohort{
				width: 43vw;
				border-right: solid;
			}

			.subscribePage > .subscribe-form{
				width: 65vw;
				margin-left: 35vw;
			}

			.subscribePage > .subscribe-form > .form {
				width: 90vw;
				left: 20vw;
			}

			.subscribePage > .subscribe-form > .form > input{
				width: 70vw;
				margin-left: 10vw;
			}
			.subscribePage > .subscribe-form > .form > select{
				margin-left: 10vw;
				width: 30vw;
			}

			/*.subscribePage > .subscribe-form > .form > .subscribeForm-btn{
				margin-left: 0;
			}*/

			.subscribePage > #mission {
				top: 60vh;
			}
		}

		/*	End of Iphone responsiveness vertical*/


		/*	Start of iphone responsiveness horizontal*/




		/*	end of iphone responsiveness horizontal*/

			@media only screen and (min-width: 420px) and (max-width: 780px) {

				.mainPage > .mainLeft > div > #cohort{
					width: 22.5vw;
					border-right: solid;
				}
				#btn{
				left: 75vw;
				width: 15vw;
				}
				.sectionInfo > .heading > div > #cohort{
					width: 22.5vw;
				}

				.sectionInfo > .heading {
					height: 24vh;
				}

				.subscribePage > .subHeading > div > #cohort{
					width: 22.5vw;
					border-right: solid;
				}

			}

			@media only screen and (min-width: 1000px) and (max-width: 1300px) {

				.mainPage > .mainLeft > div > #cohort{
					width: 24vw;
					border-right: solid;
				}

				.sectionInfo > .heading > div > #cohort{
					width: 24vw;
				}

				.subscribePage > .subHeading > div > #cohort{
					width: 24vw;
					border-right: solid;
				}



			}



/*		End of responsiveness*/


