*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

/*	Start of Landing Page CSS*/
.landingPage{
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: #1D2E43;
}

.landingPage > .landingTop{
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 22vh;
	border-bottom: 2px solid #8A734B;
}

#cohort{
	position: absolute;
	color: #8A734B;
	font-size: 15vh;
	left: 15vh;
	border: solid;
	top: 2vh;
	overflow: hidden;
	width: 18.5vw;
	z-index: 10;
	border-right: none;
	background-color: #1D2E43;
}

#coho{
	position: absolute;
	/*color: #8A734B;*/
	color: #1D2E43;
	font-size: 15vh;
	margin-left:15vh;
	border: solid;
	top: 2vh;
	left: 0;
}


/*.landingPage > .landingTop > div{
	position: relative;

}*/
.landingPage > .landingTop > div > .form{
	margin-left: 48vw;
}

.landingPage > .landingTop > div > .form > input{
	height: 5vh;
	border-radius: 3px;
	border: 2px solid #8A734B;
}
.landingPage > .landingTop > div > .form > input > button > a{
	margin-left: 1px;
}

.landingPage > .landingTop > div > .btn{
	position: absolute;
	border: solid #8A734B;
	border-radius: 10vh;
	background-color: #8A734B;
	height: 6vh;
	text-decoration: none;
	font-size: 2vh;
}

.landingPage > .landingTop > div > .btn > a{
	text-decoration: none;
	color: black;
}

.landingPage > .landingTop > div > .btn:hover{
	transition: scale(1:5);
	border: 1px solid;
}

.landingPage > .landingTop > div > .btn-new{
	width: 15vh;
	top: 16vh;
	left: 90vw;
	height: 4vh;
}

.landingPage > .landingTop > div > .btn-log{
	width: 15vh;
	top: 8vh;
	left: 90vw;
}

.landingPage >.landPartners{
	position: relative;
	margin-top: 5vh;
	border: solid #8A734B;
	height: 60vh;
	width: 80vw;
	margin-left:10vw;
}



.landingPage >.landPartners > .landing-images{
	height: 51.5vh;
	width: 74.5vw;
	margin: 4vh;
	/*display: flex;
	align-items: center;*/
}
.landingPage >.landPartners > .landing-images > #img{
	/*position: absolute;*/
	margin: 2vh;
}

.landingPage >.landPartners > .landing-images > #img:hover{
	transition: scale(1:5);
	border: 1px solid;
}



.landingPage >.landPartners > .landing-images > .img1{
	height: 7vh;
	width: 10vw;
	left: 3vw;
	top: 3vh;
}
.landingPage >.landPartners > .landing-images > .img2{
	height: 7vh;
	width: 10vw;
	left: 15vw;
	top: 3vh;
}
.landingPage >.landPartners > .landing-images > .img3{
	height: 9vh;
	width: 10vw;
	left: 27vw;
	top: 3vh;
}

.landingPage >.landPartners > .landing-images > .img4{
	height: 7vh;
	width: 10vw;
	left: 39vw;
	top: 3vh;
}
.landingPage >.landPartners > .landing-images > .img5{
	height: 7vh;
	width: 13vw;
	left: 51vw;
	top: 3vh;
}
.landingPage >.landPartners > .landing-images > .img6{
	height: 7vh;
	width: 10vw;
	left: 3vw;
	top: 15vh;
}
.landingPage >.landPartners > .landing-images > .img7{
	height: 7vh;
	width: 10vw;
	left: 15vw;
	top: 15vh;
}
.landingPage >.landPartners > .landing-images > .img8{
	height: 10vh;
	width: 10vw;
	left: 27vw;
	top: 15vh;
}
.landingPage >.landPartners > .landing-images > .img9{
	height: 7vh;
	width: 10vw;
	left: 39vw;
	top: 15vh;
}
.landingPage >.landPartners > .landing-images > .img10{
	height: 7vh;
	width: 10vw;
	left: 53vw;
	top: 15vh;
}
.landingPage >.landPartners > .landing-images > .img11{
	height: 7vh;
	width: 10vw;
	left: 3vw;
	top: 29vh;
}
.landingPage >.landPartners > .landing-images > .img12{
	height: 7vh;
	width: 10vw;
	left: 15vw;
	top: 29vh;
}
.landingPage >.landPartners > .landing-images > .img13{
	height: 7vh;
	width: 10vw;
	left: 27vw;
	top: 29vh;
}
.landingPage >.landPartners > .landing-images > .img14{
	height: 7vh;
	width: 10vw;
	left: 39vw;
	top: 29vh;
}



/*	End of Landing Page CSS*/


/*	Start of Responsiveness*/

	/*  Start for Iphone6/7/8 responsiveness*/
		/*	vertical-align: */

		@media only screen and (max-width: 415px) {
				

				.landingPage > .landingTop > #cohort{
				font-size: 9vh;
				color: #8A734B;
				left: 15vw;
				width: 43vw;
				border-right: 2px solid;
				}

				.landingPage > .landingTop > #coho{
					font-size: 9vh;
					margin-left: 15vw;
				}

				.landingPage > .landingTop{
					height: 15vh;

				}
				.landingPage > .landingTop > div > .form > input{
					left: 10vw;				
				}

				.landingPage > .landingTop > div > .form > .input-user{
				position: absolute;
				top: 20vh;
				right: 1px;
				height: 6vh;
				width: 80vw;
				}

				.landingPage > .landingTop > div > .form > .input-pass{
				position: absolute;
				top: 26vh;
				right: 1px;
				height: 7vh;
				width: 80vw;
				margin-top: 3vh;
				}


				.landingPage > .landingTop > div > .btn{
				position: absolute;
				border: solid #8A734B;
				border-radius: 3px;
				background-color: #8A734B;
				height: 7vh;
				text-decoration: none;
				font-size: 2vh;
				margin-top: 5vh;
				margin-left: 10vw;
				}

				.landingPage > .landingTop > div > .btn > a{
				text-decoration: none;
				}

				.landingPage > .landingTop > div > .btn:hover{
				transition: scale(1:5);
				border: 1px solid;
				}
				.landingPage > .landingTop > div > .btn-log{
				width: 80vW;
				top: 35vh;
				left: 0;
				height: 6vh;
				}

				.landingPage > .landingTop > div > .btn-new{
				width: 40vh;
				top: 45vh;
				left: 3vw;
				height: 4vh;
				}

				.landingPage >.landPartners{
				margin-top: 43vh;
				height: 40vh;
				}


				.landingPage >.landPartners > .landing-images{
				height: 38vh;
				width: 74.5vw;
				margin: 1vh;
				}


				.landingPage >.landPartners > .landing-images > #img{
				position: absolute;
				margin: 1vh;
				}

		}

		/*	vertical-align: */

		/*	Start of iphone horizontal*/

			@media only screen and (min-width: 415px) and (max-width: 750px) {


				.landingPage > .landingTop > #cohort{
				font-size: 11vh;
				color: #8A734B;
				left: 15vw;
				width: 16.8vw;
				border-right: 2px solid;
				}

				.landingPage > .landingTop > #coho{
					font-size: 11vh;
					margin-left: 15vw;
				}

				.landingPage > .landingTop{
					height: 20vh;
				}

				.landingPage > .landingTop > div > .btn-log{
				width: 10vW;
				top: 3vh;
				left: 85vw;	
				height: 6vh;
				}

				.landingPage > .landingTop > div > .btn-new{
				width: 15vh;
				top: 10vh;
				left: 86vw;
				height: 4vh;
				}

				.landingPage > .landingTop >div > .form {
					margin-left: 30vw;
					width: 20vw;
				}

			}	



		/*	End of iphone horizontal*/


		@media only screen and (min-width: 1100px) and (max-width: 1300px) {

				.landingPage > .landingTop > #cohort{
				color: #8A734B;
				left: 9vw;
				width: 24.5vw;
				border-right: 2px solid;
				border: solid;
				}


			}


	/*  End for Iphone6/7/8 responsiveness*/
		





